{%extends "../base.html" %}
{% load static %}
{% block login %}
<div class="text-lg-center" style="display: block; justify-content: center; align-items: center; margin-top: 340px;">
    <h3 style="font-size: 15px; ">რეგისტრაციისთვის შეიყვანეთ თქვენი მონაცემები</h3><br>
    <form method="POST" action="{% url 'store:registration' %}">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 10px;">
            {% csrf_token %}
            {{form.username}}
            {{form.password1}}
            {{form.password2}}
            <button type="submit" class="btn-outline-dark" action="{% url 'store:registration' %}">რეგისტრაცია</button>
        </div>

    </form>
</div>

{% endblock %}
